
body {
  color: #fffaff;
  background-color: #050401;
  transition: background-color 0.3s ease;
  font-family: 'Lato', sans-serif;
}

.soon {
    font-family: 'Lato', sans-serif;
    margin-top: 1.2rem;
    font-size: 2.5rem;
}

.panel {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
}

.icon {
    display: inline-block;
    width: 700px;
    height: 106px;
    background-image: url(assets/DSBluWht.svg);
    
  }

.icon-violet {
    background-image: url(assets/DSBlakWht.svg);
}

.icon-indigo {
    background-image: url(assets/DSBluBlak.svg);
}
.icon-blue {
    background-image: url(assets/DSBlakWht.svg);
}
.icon-green {
    background-image: url(assets/DSOrngWht.svg);
}

.icon-yellow {
    background-image: url(assets/DSBlakWht.svg);
}

.icon-orange {
    background-image: url(assets/DSBlakWht.svg);
}

.icon-red {
    background-image: url(assets/DSOrngBlak.svg);
}



.devspace {
    position: fixed;
    top: 25%;
    text-align: center;
}

a {
    font-style: italic;
    color: inherit;

}
.center {
    position: fixed;
    bottom: 4%;
    font-size: 1.2rem;
    text-align: center;
}
    

.color-violet {
  background-color: #00aaff;
  color: #fffaff;
}
.color-indigo {
  background-color: #fffaff;
  color: #050401;
}
.color-blue {
  background-color: #fc5130;
  color: #fffaff;
}
.color-green {
  background-color: #050401;
  color: #fffaff;
}
.color-yellow {
  background-color: #00aaff;
  color: #fffaff;
}
.color-orange {
  background-color: #fc5130;
  color: #fffaff;
}
.color-red {
  background-color: #fffaff;
  color: #050401;
  
}